<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="br.gov.inpi.mapper.ClasseNacionalMapper">


    <resultMap type="ClasseNacional" id="ClasseNacionalResult">
        <id property="id" column="ID"/>
    </resultMap>

    <insert id="inserir" parameterType="ClasseNacional" useGeneratedKeys="true" keyProperty="ID">
        INSERT INTO CLASSE_NACIONAL(PROCESSO_ID, CODIGO, ESPECIFICACAO)
        VALUES(#{processo.id}, #{codigo}, #{especificacao})
    </insert>


    <select id="getClasseNacional" parameterType="ClasseNacional" resultType="ClasseNacional">
        SELECT ID, PROCESSO_ID, CODIGO, ESPECIFICACAO FROM CLASSE_NACIONAL
        WHERE PROCESSO_ID = #{processo.id}
        AND CODIGO = #{codigo}
    </select>

    <update id="atualizar" parameterType="ClasseNacional">
        UPDATE CLASSE_NACIONAL
        SET PROCESSO_ID = #{processo.id},
        CODIGO = #{codigo},
        ESPECIFICACAO = #{especificacao}
        WHERE ID = #{id}
    </update>

</mapper>