<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="br.gov.inpi.mapper.ClasseViennaMapper">


    <resultMap type="ClasseVienna" id="ClasseViennaResult">
        <id property="id" column="ID"/>
    </resultMap>

    <insert id="inserir" parameterType="ClasseVienna" useGeneratedKeys="true" keyProperty="ID">
        INSERT INTO CLASSE_VIENNA(CLASSES_VIENNA_ID, CODIGO)
        VALUES(#{classesVienna.id}, #{codigo})
    </insert>


    <select id="getClasseVienna" parameterType="ClasseVienna" resultType="ClasseVienna">
        SELECT ID, CLASSES_VIENNA_ID, CODIGO FROM CLASSE_VIENNA
        WHERE CLASSES_VIENNA_ID = #{classesVienna.id}
        AND CODIGO = #{codigo}
    </select>

    <update id="atualizar" parameterType="ClasseVienna">
        UPDATE CLASSE_VIENNA
        SET CLASSES_VIENNA_ID = #{classesVienna.id},
        CODIGO = #{codigo}
        WHERE ID = #{id}
    </update>

</mapper>