<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="br.gov.inpi.mapper.SubClasseNacionalMapper">


    <resultMap type="SubClasseNacional" id="ClasseNacionalResult">
        <id property="id" column="ID"/>
    </resultMap>

    <insert id="inserir" parameterType="SubClasseNacional" useGeneratedKeys="true" keyProperty="ID">
        INSERT INTO SUBCLASSE(CLASSE_NACIONAL_ID, CODIGO)
        VALUES(#{classeNacional.id}, #{codigo})
    </insert>


    <select id="getSubClasseNacional" parameterType="SubClasseNacional" resultType="SubClasseNacional">
        SELECT ID, CLASSE_NACIONAL_ID, CODIGO FROM SUBCLASSE
        WHERE CLASSE_NACIONAL_ID = #{classeNacional.id}
        AND CODIGO = #{codigo}
    </select>

    <update id="atualizar" parameterType="SubClasseNacional">
        UPDATE SUBCLASSE
        SET CLASSE_NACIONAL_ID = #{classeNacional.id},
        CODIGO = #{codigo}
        WHERE ID = #{id}
    </update>

</mapper>